---
version: "3.8"
name: "{{ servname | replace('.', '_') }}"
services:
  {{ servname_frnt }}:
    image: "ghcr.io/vuetorrent/vuetorrent-backend:latest"
    network_mode: "{{ ntwkconn }}"
    container_name: "{{ servname_frnt }}"
    hostname: "{{ hostname_frnt }}"
    deploy:
      resources:
        limits:
          cpus: "{{ maxcpugo_frnt }}"
          memory: "{{ maxramgo_frnt }}"
        reservations:
          cpus: "{{ mincpugo_frnt }}"
          memory: "{{ minramgo_frnt }}"
    volumes:
      - "{{ frntloca }}:/app/data"
    ports:
      - "{{ frntport }}:3000/tcp"
    restart: "{{ gopolicy }}"
  {{ servname_back }}:
    image: "qbittorrentofficial/qbittorrent-nox:latest"
    network_mode: "{{ ntwkconn }}"
    container_name: "{{ servname_back }}"
    hostname: "{{ hostname_back }}"
    read_only: "{{ readonly }}"
    stop_grace_period: "{{ stoptime }}"
    tty: "{{ termtext }}"
    tmpfs:
      - "/tmp"
    deploy:
      resources:
        limits:
          cpus: "{{ maxcpugo_back }}"
          memory: "{{ maxramgo_back }}"
        reservations:
          cpus: "{{ mincpugo_back }}"
          memory: "{{ minramgo_back }}"
    environment:
      - "PUID={{ userpuid }}"
      - "PGID={{ userpgid }}"
      - "TZ={{ timezone }}"
      - "QBT_EULA={{ frnteula }}"
      - "QBT_WEBUI_PORT={{ backport }}"
      - "QBT_VERSION={{ qbsemver }}"
      - "UMASK={{ backmask }}"
    volumes:
      - "{{ confvolm }}:/config"
      - "{{ filevolm }}:/downloads"
    ports:
      - "{{ backxtcp }}:6881/tcp"
      - "{{ backxudp }}:6881/udp"
      - "{{ backport }}:8080/tcp"
    restart: "{{ gopolicy }}"
