---
version: "3.3"
services:
  {{ servname }}:
    image: "ubuntu/bind9:latest"
    network_mode: "{{ ntwkconn }}"
    container_name: "{{ servname }}"
    hostname: "{{ hostname }}"
    deploy:
      resources:
        limits:
          cpus: "{{ maxcpugo }}"
          memory: "{{ maxramgo }}"
        reservations:
          cpus: "{{ mincpugo }}"
          memory: "{{ minramgo }}"
    environment:
      - "TZ={{ timezone }}"
    ports:
      - "{{ portdist_atcp }}"
      - "{{ portdist_audp }}"
    volumes:
      - "{{ confvolm }}:/etc/bind"
      - "{{ datavolm }}:/var/cache/bind"
      - "{{ rcrdvolm }}:/var/lib/bind"
    restart: "{{ gopolicy }}"
