---
version: "3.8"
name: "{{ servname | replace('.', '_') }}"
services:
  {{ servname_aplc }}:
    image: "gitlab/gitlab-ce:latest"
    network_mode: "{{ ntwkconn_aplc }}"
    container_name: "{{ servname_aplc }}"
    hostname: "{{ hostname_aplc }}"
    shm_size: "{{ shrdsize_aplc }}"
    deploy:
      resources:
        limits:
          cpus: "{{ maxcpugo_aplc }}"
          memory: "{{ maxramgo_aplc }}"
        reservations:
          cpus: "{{ mincpugo_aplc }}"
          memory: "{{ minramgo_aplc }}"
    environment:
      - "GITLAB_OMNIBUS_CONFIG=external_url '{{ extrlink_aplc }}'; user['username'] = 'code'; user['group'] = 'code'; gitlab_rails['gitlab_shell_ssh_port'] = '{{ portsshd_aplc }}'"
    ports:
      - "{{ porthttp_aplc }}:80/tcp"
      - "{{ portssld_aplc }}:443/tcp"
      - "{{ portsshd_aplc }}:22/tcp"
    volumes:
      - "{{ volmoptd_aplc }}:/var/opt/gitlab"
      - "{{ volmlogd_aplc }}:/var/log/gitlab"
      - "{{ volmconf_aplc }}:/etc/gitlab"
    restart: "{{ gopolicy_aplc }}"
  {{ servname_rner }}:
    image: "gitlab/gitlab-runner:alpine"
    network_mode: "{{ ntwkconn_rner }}"
    container_name: "{{ servname_rner }}"
    hostname: "{{ hostname_rner }}"
    shm_size: "{{ shrdsize_rner }}"
    deploy:
      resources:
        limits:
          cpus: "{{ maxcpugo_rner }}"
          memory: "{{ maxramgo_rner }}"
        reservations:
          cpus: "{{ mincpugo_rner }}"
          memory: "{{ minramgo_rner }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ volmconf_rner }}:/etc/gitlab-runner"
    restart: "{{ gopolicy_rner }}"
